.main-title {
  padding-bottom: 5px;
}

h1 {
  font-size: 65px;
  text-align: center;
}

.search-container {
  padding-top: 115px;
  padding-right: 20px;
  float: right;
  text-align: right;
  text-align: bottom;
}

.ask-bar {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-nav > li > a {
    padding: 20px 20px;
}



