.poll-list {
    column-count: 1;
    column-gap: 15px;
    padding: 15px;
    padding-bottom: 0px;
}

.poll-block {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.4);
}

.poll-block:nth-of-type(3n - 2) {
    margin-right: 0;
}

.poll-block:nth-of-type(3n) {
    margin-left: 0; 
}

.poll-question {
    padding: 20px;
    background: #5F7EC6;
    color: white;
    border-bottom: dashed 2px #5F7EC6;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.25);
}

.poll-question-link {
    text-decoration: none;
    color: white;
}

.report-question {
    text-align: right;
    margin-top: 20px;
}

.poll-answers {
    padding: 20px;
    border-bottom: dashed 2px #5F7EC6;
}

.poll-answer {
    display: inline-block;
    width: 100%;
    padding: 5px 0px;
    /*border-bottom: thin dotted black;*/
}

.poll-answer:first-of-type {
    padding-top: 0px;
}

.poll-answer:last-of-type {
    padding-bottom: 0px;
}

.poll-form {
    display: inline-block;
    width: 100%;
    padding: 20px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0px;
}

.poll-answer p {
    display: inline-block;
    width: 60%;
}

.poll-answer .buttons {
    display: inline-block;
    width: 40%;
    text-align: right;
}

@media screen and (max-width: 800px) {
    .poll-answer p {
        width: 50%;
    }

    .poll-answer .buttons {
        width: 50%;
    }
}

@media screen and (min-width: 800px) {
    .poll-list {
        column-count: 2;
    }
}

@media screen and (min-width: 1200px) {
    .poll-list {
        column-count: 3;
    }
}

@media screen and (min-width: 1600px) {
    .poll-list {
        column-count: 4;
    }
}

@media screen and (min-width: 2000px) {
    .poll-list {
        column-count: 5;
    }
}

@media screen and (min-width: 2400px) {
    .poll-list {
        column-count: 6;
    }
}