* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4,
h1 *, h2 *, h3 *, h4 * {
    font-family: 'Playfair Display', serif;
    font-style: normal;
}

h1 {
    font-size: 2rem;
}

.inline-block-right {
    text-align: right;
}

.error {
    color: red;
}

.success {
    color: green;
}

.center-content {
    width: 40%;
    margin: auto;
    margin-top: 20px;
}

