* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
}

h1 {
    font-size: 2rem;
}

a.button {
    border: solid thin black;
    padding: 5px;
    text-decoration: none;
    color: black;
}

a.button:hover {
    background: black;
    color: white;
}