<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} 2Afraid2Ask {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link rel="stylesheet" type="text/css" href="/static/poll.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/form.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway" rel="stylesheet">
</head>
<body>
    {% block titlenav %}
    <nav>
        <!-- Overlapping on lines to remove spaces -->
        <h1>2Afraid2Ask</h1><ul>
            <li><a href="/">Home</a></li><li>
            <a href="/login">Login</a></li><li>
            <a href="/my_account">My Account</a></li>
        </ul>
    </nav>
    {% endblock %}

    <div id="main-content">
    {% block content %}
    {% endblock %}
    </div>

    {% block footer %}
    <footer>
        <p>Made at HackNotts by Mark Hillman, Jem Gunay and Owen Johnson Davies</p>
    </footer>
    {% endblock %}
</body>
</html>
