<!doctype html>
{% extends "base.html" %}
{% block titlenav %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>2afraid2ask</h1>
{% if user.name %}
  <h4>Hello, {{ user.name }}!</h4>
{% else %}
  <h4>Hello</h4>
{% endif %}

{% if polls %}

    {% for id, poll in polls.items() %}
        {% if poll.question %}
            <h2>question: {{poll.question}}</h2>
                {% if poll.answers %}
                    <h3>answers </h3>
                    <ul>
                    {% for answer in poll.answers %}
                        <li>{{answer.answer}}({{answer.votes}})</li>
                    {% endfor %}
                    </ul>
                    {% else %}
                     <h2>no answers yet</h2>
                {% endif %}
        {% else %}
            <p>There are no questions</p>
        {% endif %}
    {%endfor%}
{%else%}
    <h2>no polls yet</h2>
{% endif %}

{% endblock %}


