<!doctype html>
{% extends "base.html" %}
{% block titlenav %}
{{ super() }}
{% endblock %}
{% block content %}
{% if polls %}

{% for id, poll in polls.items() %}
{% if poll.question %}
<div class="panel panel-default col-sm-offset-1  col-sm-10">
    <h2>Question:</h2>
    <div class="row">
        <h2>{{poll.question}}</h2>
        <a type="button" href="/poll/report/{{poll.poll_id}}"
           class=" col-sm-offset-9 btn btn-danger btn-sm glyphicon glyphicon-remove ">REPORT</a>
    </div>

    {% if poll.answers %}

    <div class="panel panel-default col-sm-offset-1  col-sm-10">
        <h3 class="row col-sm-offset-1">Answers </h3>
        {% for key, answer in poll.answers.items() %}
        <div class="row col-sm-offset-2">
            <div class="col-sm-6">{{answer.answer}} ({{answer.votes}})</div>
            <a type="button" class="btn btn-success  btn-sm glyphicon glyphicon-plus "></a>
            <a type="button" href="/poll/{{poll.poll_id}}/answers/report/{{answer.answer_id}}"
               class="  col-sm-offset-1 btn btn-danger btn-sm glyphicon glyphicon-remove navbar-btn ">REPORT</a>
        </div>
        {% endfor %}
        <form method="POST" action = "/poll/{{poll.poll_id}}/answers/new" class="form-horizontal">
            <div class="row">
                <label class="control-label col-sm-2">Your answer:</label>
                <input class="col-sm-7"name="answer" id="answer" type="text" placeholder="Got a better idea?"></input>
                <input class="col-sm-2" type="submit" value="Submit">
            </div>

        </form>
    </div>
</div>

{% else %}
<h2>no answers yet</h2>
{% endif %}
{% else %}
<p>There are no questions</p>
{% endif %}
{%endfor%}
{%else%}
<h2>no polls yet</h2>
{% endif %}


{% endblock %}


