<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div>
    <H1>Login</H1>
<section class="loginform cf">
<form name="login" action="index_submit" method="get" accept-charset="utf-8">
  <ul>
    <li><label for="usermail">Email</label>
    <input type="email" name="usermail" placeholder="yourname@email.com" required></li>
    <li><label for="password">Password</label>
    <input type="password" name="password" placeholder="password" required></li>
    <li>
    <input type="submit" value="Login"></li>
  </ul>
</form>
    <a>Don't have an acount register!!!</a>
</section>
</div>
</body>
</html>