{% extends "base.html" %}

{% block content %}
<form method="POST">
    <h1>Login</h1>

    <div class="form-content">
    
        <label class="" for=email>Email:</label>
        <input class="blue" id=email name=email type=email placeholder="Enter email"></input>
                
        <label class="" for=password>Password:</label>
        <input class="blue" id=password name=password type=password placeholder="Enter Password"></input>
        
        <div class="inline-block-right"> 
            <input class="blue" type="submit" value="Login">
            <a class="button blue" href="/user/new">Register here!</a>
        </div>

    </div>
</form>

{% endblock %}
