{% extends "base.html" %}

{% block content %}
<form method=POST>
	<h1>Edit Poll</h1>

	<div class="form-content">
		<label for=question>Question:</label>
		<input type=test id=question name=question>
			{% if poll %}{{poll.question}}{% endif %}
		</input>
		<input type=submit></input>
		
		{% if success %}
            <p class="success"><strong>Success:</strong> {{ success }}</p>
        {% endif %}

        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }} </p>
        {% endif %}
	</div>
</form>
{% endblock %}
