{% if poll.question %}<div class="poll-block">
    
    <div class="poll-question">
        <h1><a href="/polls/{{poll.poll_id}}" class="poll-question-link">{{poll.question}}</a></h1>
        <div class="report-question">
            <a class="button red" href="/poll/report/{{poll.poll_id}}">Report Question</a>
        </div>
    </div>

    <div class="poll-answers">
    {% if poll.answers %}
        {% for key, answer in poll.answers.items() %}
            <div class="poll-answer">
                <p>{{answer.answer}} ({{answer.votes}})</p><div class="buttons">

                    <a class="button blue" href="/polls/{{poll.poll_id}}/answers/{{answer.answer_id}}/vote">Vote</a>
                    <a class="button red" href="/polls/{{poll.poll_id}}/answers/report/{{answer.answer_id}}">Report</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>no answers yet</p>
    {% endif %}

    </div>
    
    <form class="poll-form" method="POST" action="/poll/{{poll.poll_id}}/answers/new">
        <label for="answer">Your answer:</label>
        <div class="text-button">
            <input class="text-button blue" name="answer" id="answer" type="text" placeholder="Got a better idea?"
            ><input class="text-button blue" type="submit" value="Submit">
        </div>
    </form>    

</div>{% endif %}
