<!doctype html>
{% extends "base.html" %}
{% block title-nav %}
{{ super() }}
{% endblock %}
{% block content %}
<title>2afraid2ask</title>
<h1>2afraid2ask</h1>
{% if user.name %}
  <h4>Hello, {{ user.name }}!</h4>
{% else %}
  <h4>Hello</h4>
{% endif %}

{% if polls %}
    {% for poll_id, poll in polls.items() %}
<br>
    <h2>question: <br>{{   poll.question}}</h2>
        {% if poll.answers %}
            <h3>answers </h3>
            <ul>
            {% for objects in poll.answers %}
                <li>{{objects.answer}}({{objects.votes}})</li>
            {% endfor %}
            </ul>
            {% else %}
             <h2>no answers yet</h2>
        {% endif %}
    {%endfor%}
{%else%}
    <h2>no polls yet</h2>

{% endif %}

{% endblock %}


